body {
    /* background-image: url("../Question1/part-c/images/landscape.jpg"); */
    background-color: rgb(137, 198, 245);
}

.form-control {
    width: 15rem;
}

.see-font {
    font-size: 16px;
}

.row {
    margin-top: 1rem;
}

.form-select {
    width: 15rem;
}